<?xml version="1.0"?>

<model>
  <name>fukushima_rtf</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Masashi Izumita</name>
    <email>m.izumita@aist.go.jp</email>
  </author>

  <description>
    Fukushima RTF model from FBX file, converted to obj using blender and aligned the center.
  </description>

</model>
